<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- this file is located at android/app/src/main/AndroidManifest.xml -->
    <uses-feature android:name="android.hardware.type.watch"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <meta-data
            android:name="com.here.android.maps.appid"
            android:value="A9C06G0akpw1IJIing1j"/>

    <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="5e2A-7cxNurm2VpT1UJEBRg_BrUaYtCmiBjex2HVHUjA32WITw8EeyQ9Azgm8M40a76jFIJMoT0vXD9S4ab6oQ"/>

    <meta-data android:name="com.here.android.maps.license.key"
               android:value="A9C06G0akpw1IJIing1j"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true"
                 android:theme="@style/AppTheme">
        <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
        <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="50.0.0"/>
        <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
        <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
        <activity android:name=".MainActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
                  android:launchMode="singleTask" android:windowSoftInputMode="adjustResize"
                  android:theme="@style/Theme.App.SplashScreen" android:exported="true"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.anonymous.application"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false"/>
    </application>
</manifest>